.main-container {
    display: flex;
    justify-content: flex-start;
    overflow-y: scroll;
    position: relative;

    .rightSide-component {
        flex-grow: 1;
        width: calc(100% - 250px);
        transition: all 0.3s linear;
        padding: 10px 20px;
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        overflow: auto;
        overflow-x: hidden;

    }
}

.hide-sidebar {

    .main-container {

        .rightSide-component {
            width: calc(100% - 75px);
            transition: all 0.3s linear;
        }
    }
}